.welcome {
  font-family: Raleway, sans-serif;
  font-weight: 900;
  color: #000000;
}

.adminName {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 16px;
  color: #ECC061;
  font-family: Roboto Slab, "sans-serif";
}

.workerName {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 16px;
  color: #D62839;
  font-family: Roboto Slab, "sans-serif";
}

.bookName {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 16px;
  color: #75AD59;
  font-family: Roboto Slab, "sans-serif";
}

.adminSection {
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
}

.addWorker {
  margin: auto 20px;
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
}

.addWorker h3 { text-align: center; }

.addWorker label { margin-top: 20px; }

.addWorker input {
  padding-left: 10px;
  outline: none;
  height: 30px;
  border: none;
  margin-top: 10px;
  border-bottom: 2px #D62839 solid;
  background-color: transparent;
  font-family: Roboto Slab, "sans-serif";
  font-weight: 100;
}

.addWorker input[type="submit"] {
  background-color: #D62839;
  min-height: 7%;
  padding: 10px;
  margin-top: 50px;
  cursor: pointer;
  color: white;
  border: 2px #D62839 solid;
  transition: all 0.2s ease-in-out;
  font-family: Raleway, sans-serif;
  font-weight: 700;
}

.addWorker input[type="submit"]:hover { background-color: transparent; color: #D62839; }

.addEvent {
  height: 450px;
  border: 1px black solid;
}


.pendingSection {
  margin-top: 20px;

  .pendingUserHeader {
    min-width: 800px;
    height: 30px;
    display: flex;
    flex-direction: row;
  }

  .pendingUser {
    width: 800px;
    height: 60px;
    display: flex;
    flex-direction: row;
  }

  .pendingUserName {
    width: 100px;
    margin-right: 5px;
  }

  .pendingUserWhy, .pendingUserOverview {
    width: 300px;
    margin-right: 5px;
  }

  .pendingUserButton {
    height: 20px;
  }
}



#addEventSection, #attendeeListSection, #pendingBookSection, #pendingLibrarianSection, #massEmailSection, #listUsersSection {
  margin-bottom: 30px;
}


//for the list usersSection
.userDisplayOptions {
  display: flex;
  flex-direction: row;
}

.displayOption {
  margin: 0 20px;
  cursor: pointer;
}
