.rentedBooks {
  width: 300px;
  height: 100%;
  border: 1px black solid;
}

.rentedBook {
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;
}

.rentedReturn {
  cursor: pointer;
}

.green {
  background-color: #7fff7f;
}

.yellow {
  background-color: #ffff7f;
}

.red {
  background-color: #ff7f7f;
}
