.signupwrapper {
  //padding-top: 100px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.signUpHeader {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 16px;
  color: #D62839;
  font-family: Roboto Slab, "sans-serif";
}